@import "variables"

@font-face
  font-family 'banking-app'
  src url(icomoon-font-path + '/banking-app.ttf?ytvlru') format('truetype'), url(icomoon-font-path + '/banking-app.woff?ytvlru') format('woff'), url(icomoon-font-path + '/banking-app.svg?ytvlru#banking-app') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'banking-app' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  
  /* Enable Ligatures ================ */
  letter-spacing 0
  -webkit-font-feature-settings "liga"
  -moz-font-feature-settings "liga=1"
  -moz-font-feature-settings "liga"
  -ms-font-feature-settings "liga" 1
  font-feature-settings "liga"
  -webkit-font-variant-ligatures discretionary-ligatures;
  font-variant-ligatures discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-zoom_out_map
  &:before
    content icon-zoom_out_map
.icon-graph
  &:before
    content icon-graph
.icon-haber
  &:before
    content icon-haber
.icon-settings
  &:before
    content icon-settings
.icon-takvim
  &:before
    content icon-takvim
.icon-cloud-download
  &:before
    content icon-cloud-download
.icon-file-audio
  &:before
    content icon-file-audio
.icon-file-pdf
  &:before
    content icon-file-pdf
.icon-file-spreadsheet
  &:before
    content icon-file-spreadsheet
.icon-file-video
  &:before
    content icon-file-video
.icon-folder-add
  &:before
    content icon-folder-add
.icon-folder-remove
  &:before
    content icon-folder-remove
.icon-folder
  &:before
    content icon-folder
.icon-graph-bar
  &:before
    content icon-graph-bar
.icon-graph-line
  &:before
    content icon-graph-line
.icon-heart-line
  &:before
    content icon-heart-line
.icon-heart-solid
  &:before
    content icon-heart-solid
.icon-list
  &:before
    content icon-list
.icon-media-pause
  &:before
    content icon-media-pause
.icon-media-play
  &:before
    content icon-media-play
.icon-media-stop
  &:before
    content icon-media-stop
.icon-media
  &:before
    content icon-media
.icon-mic
  &:before
    content icon-mic
.icon-phone-message
  &:before
    content icon-phone-message
.icon-phone
  &:before
    content icon-phone
.icon-sound-off
  &:before
    content icon-sound-off
.icon-sound-on
  &:before
    content icon-sound-on
.icon-trash
  &:before
    content icon-trash
.icon-zoom-in
  &:before
    content icon-zoom-in
.icon-zoom-out
  &:before
    content icon-zoom-out
.icon-user
  &:before
    content icon-user
.icon-email
  &:before
    content icon-email

