icomoon-font-path ?= ""

icon-menu = "\e91f"
icon-search = "\e920"
icon-graph = "\e91e"
icon-haber = "\e914"
icon-settings = "\e91d"
icon-takvim = "\e900"
icon-cloud-download = "\e901"
icon-file-audio = "\e903"
icon-file-pdf = "\e904"
icon-file-spreadsheet = "\e905"
icon-file-video = "\e906"
icon-folder-add = "\e907"
icon-folder-remove = "\e908"
icon-folder = "\e909"
icon-graph-bar = "\e90a"
icon-graph-line = "\e90b"
icon-heart-line = "\e90c"
icon-heart-solid = "\e90d"
icon-list = "\e90e"
icon-media-pause = "\e90f"
icon-media-play = "\e910"
icon-media-stop = "\e911"
icon-media = "\e912"
icon-mic = "\e913"
icon-phone-message = "\e915"
icon-phone = "\e916"
icon-sound-off = "\e917"
icon-sound-on = "\e918"
icon-trash = "\e919"
icon-zoom-in = "\e91a"
icon-zoom-out = "\e91b"
icon-user = "\e91c"
icon-email = "\e902"

